*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    --header-height: 80px;
    --light-grey: rgb(239, 236, 236);
    --button-green: rgb(162, 236, 162);
    --button-red: #ffbebe; 
}

/* Header and sidebar */
.main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.header {
    background-color: rgb(229, 153, 141);
    color: white;
    font-size: 40px;
    font-weight: 700;
    grid-column: 1 / 3; 
    height: var(--header-height);
    padding: 20px 40px;
    display: flex;
    align-items: center;
}

.side-bar {
    background-color: var(--light-grey);
    font-size: 20px;
    width: 300px;
    padding: 20px 20px 10px 40px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 15px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projects p {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

li, #add-project, .project {
    padding: 5px 15px;
    width: 100%;
    border-radius: 4px;
}

#add-project {
    margin-top: 5px;
    font-weight: 700;
    color: green;
    grid-column: 1 / 3;
}

#project-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project {
    display: flex;
}

.project-name {
    flex: 1 1 auto;
}

.project-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#delete-button {
    height: 20px;
    width: 20px;
    background: none;
    color: black;
    border: none;
    border-radius: 100%;
    font-size: 20px;
    font-weight: 900;
    flex: 0 0 auto;
    visibility: hidden;
}

.project:hover #delete-button {
    visibility: visible;
}

#project-input {
    margin-top: 10px;
    font-size: 20px;
    grid-column: 1 / 3;
    padding: 2px;
}

.project-button #add-button, .project-button #cancel-button {
    font-size: 20px;
}


li:hover, #add-project:hover, .project:hover {
    background: rgb(182, 182, 182);
}


/* Content section */

#content {
    padding: 20px 40px;
}

#content p {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo, #todo-input {
    width: 100%;
    height: 40px;
    border: solid 1px rgb(220, 220, 220);
    border-radius: 4px;
    background-color: var(--light-grey);
    font-size: 18px;
    padding: 8px 16px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 20px;
}

.todo:hover {
    box-shadow: 2px 2px 3px 2px rgb(220, 220, 220);
}

/* Add ToDo Buttons */

#todo-button {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

#add-todo {
    background: none;
    border: none;
    font-weight: 700;
    color: green;
    box-shadow: none;
    grid-column: 1 / 3;
}

#add-todo:hover {
    background: var(--light-grey);
}

#todo-input {
    border: solid 1px rgb(150, 150, 150);
    margin-bottom: 5px;
    grid-column: 1 / 3;
    background: white;
}

#add-button, #cancel-button {
    height: 40px; 
    font-size: 18px;
    border-radius: 4px;
    border: solid 1px rgb(220, 220, 220);
}

#add-button {
    background: var(--button-green) ;
}

#cancel-button {
    background: var(--button-red);
}

.todo-title, .todo-date {
    border: none;
    font-size: inherit;
    background: none;
}

.todo-title {
    text-align: left;
}

#title-update {
    width: 150px;
}

.todo-date, .checkbox {
    flex: none;
}





